.bo{
    margin:5% 15% auto 15%;
    
}
.name{
    background-color: rgb(224, 230, 233);
    padding:5%
}
label{
    color: #3967b1;
    font-style: italic;
    font-weight: 600;
    font-size: 1.2em;
}
.center{
    margin-left: 5%;
    width: 100%;
}
.right{
    margin-left:5%;
    width:100%;
}
.left{
    width: 100%;
}
header{
    background: #f2f2f2;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
    left: 0;
    height: 3rem;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    padding-left: 20px;
    padding-right: 20px;
}
*{
    box-sizing: inherit;
}
a{
    margin-right: 5px;
    text-decoration: none;
    color: #3967b1;;
}
button{
display: block;
margin: auto;
width: 100%;
    max-width: 300px;
    font-size: .9rem;
    height: 2rem;
    background: #3967b1;
    border-color: #3560a5;
    color: #fff;
    margin-top: 3%;;
}
footer{
    font-size: .6rem;
    background-color: #f2f2f2;
    padding: 1rem .5rem;
    text-align: center;
    margin-top: 50px;
}
@media (max-width:870px){
        .pp{
            display: block !important;
        }
        .center,.right{
            margin: 0 !important;
        }
        .nav{
            display: none !important;        }
        h1{
            margin-top: 20% !important;
        }
        .bo{
            margin: 0;
        }
}
